.chat form textarea {
  padding-right: 0 !important;
 }
			
.voice-message-button {
	position: absolute;
	right: 46px;
	top: 11px;
	opacity: 0.2;
  transition: all 200ms ease;
  background-image: url("/assets/4bc527c257233fc69b94342d77bcb9ee.svg");
}
			
.voice-message-button.active {
  fill: #F04747;
	opacity: 1;
}

.voice-message-button:hover {
  cursor: pointer;
	opacity: 1;
	transform: scale(1.1);
}
