.chat form textarea {
    padding-right: 0 !important;
}

.voice-message-button {
    position: absolute;
	top: 11px;
	opacity: 0.2;
    height: 22px !important;
    width: 22px !important;
    background-size: 22px 22px;
}

.voice-message-button.active {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
    opacity: 1;
}

.voice-message-button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
