.chat form textarea {
    padding-right: 0 !important;
}

.voice-message-button {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: transparent no-repeat 50% 50%;
    background-size: 18px 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 22px !important;
    justify-content: center;
    opacity: .6;
    padding: 0;
    position: relative;
    width: 22px !important;
}

.voice-message-button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}
